body {
    width: 100%;
    height: 100%;
    font-family: 'Open Sans', sans-serif;
}


.order_service {
    min-height: 600px;
    display: flex;
    justify-content: center;
    background-image: url('intro_private_detective.jpg');
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
}

.order_service_content {
    width: 70%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.order_servise_content_inner {
    width: 80%;
    margin: 100px 0 60px 0;

}

.logo {
    margin-bottom: 15px;
}

.content_logo {
    color: white;
    font-size: 60px;
}

.description_under_logo {
    margin-bottom: 15px;
}

.content_description_under_logo {
    color: white;
    font-size: 30px;
    font-weight: 100;
    line-height: 1.2em;
}

.order_service_out_button {
    width: 350px;
    height: 50px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}

.order_service_inner_button {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(219, 171, 81);
    border: 3px solid rgb(219, 171, 81);
    text-decoration: none;
    height: 40px;
    width: 180px;
    transition: transform 0.1s linear, color 0.2s linear, border 0.1s linear;
}

.order_service_inner_button:hover {
    color: rgb(219, 171, 81, 0.6);
    border: 3px solid rgb(219, 171, 81, 0.6);
}

.order_service_inner_button:active {
    transform: scale(0.96, 0.96);
}

.about_company {
    background-color: rgb(238, 238, 238);
    display: flex;
    justify-content: center;
}

.about_company_content {
    width: 60%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: center;
    margin: 60px 0 40px 0;
}

.header_inner {
    color: black;
    font-size: 50px;
}

.p {
    margin: 0 0 20px 0;
    color: rgb(112, 112, 112);
    font-size: 20px;
    line-height: 1.4em;
}

.types_of_training {
    margin: 0 0 20px 0;
}

.type_of_training {
    color: rgb(112, 112, 112);
    font-size: 20px;
    line-height: 1.4em;
    list-style: none;
}

.type_of_training::before {
    content: ' ';
    display: inline-block;
    width: 8px;
    height: 8px;
    background-color: rgb(238, 238, 238);
    border: 2px solid black;
    border-radius: 50%;
    margin: 0 8px 2px 0;
}

.areas_of_work {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color:rgb(238, 238, 238);
}

.areas_of_work_content {
    width: 70%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 60px 0 60px 0;
}

.areas_of_work_bg_title {
    margin-bottom: 40px ;
    display: flex;
    justify-content: center;
}

.areas_of_work_title {
    width: 50%;
    display: flex;
    justify-content: center;
    color: black;
    font-size: 40px;
}

.areas_of_work_bg_text {
    display: flex;
    justify-content: center;
}

.areas_of_work_text {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: max-content;
    box-sizing: border-box;
}

.place_for_text {
    display: flex;
    align-items: flex-start;
    margin: 8px;
}

.areas_text {
    color: rgb(112, 112, 112);
    font-size: 20px;
    line-height: 1.4em;
}

@media (max-width: 900px) {
    .areas_of_work_text {
        grid-template-columns: 1fr;
    }
}

.services {  
    width: 100%; 
    display: flex;
    justify-content: center;
    margin: 60px 0 0 0;

}

.services_content {
    width: 70%;
    display: block;
    box-shadow: 2px 2px 8px 4px rgb(95, 95, 95);
}

.call_details {
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    padding: 5px 0 5px 0;
    background-color: rgb(238, 238, 238);
}

.call_details_column1 {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}   

.call_details_column1_inner {
    width: 90%;
    margin: 30px 0 30px 0;
}

.call_details_title_bg {
    display: flex;
    margin-bottom: 10px;
}

.call_details_title {
    display: block;
    color: rgb(0, 0, 0);
    font-size: 40px;
    line-height: 1.4em;
}

.call_details_text_bg {
    display: block;
}

.call_details_text {
    color: rgb(112, 112, 112);
    font-size: 20px;
    line-height: 1.4em;
}

.call_details_button_bg {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.call_details_button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 160px;
    height: 35px;
    background-color: rgb(219, 171, 81);
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 20px;
    transition: background-color 0.2s linear, scale 0.08s linear;
}

.call_details_button:hover {
    background-color: rgba(146, 95, 0, 0.6);
}

.call_details_button:active {
    scale: 0.96 0.96;
}

.call_details_column2 {
    width: 50%;
    min-height: 600px;
    background-image: url('nigger_with_phone.jpg');
    background-size: cover;
    background-position: 30% 50%;
}

.invisible {
    overflow: hidden;
    visibility: hidden;
}

/* .nigger_with_phone_img {
    width: 100%;
    height: 100%;
    image-orientation: flip;
} */

@media (max-width: 1250px) {
    .call_details {
        flex-direction: column;
        justify-content: center;
    }

    .call_details_column1 {
        width: 100%;
    }  
    
    .call_details_title_bg {
        justify-content: center;
    }

    .call_details_button_bg {
        justify-content: center;
    }

    .call_details_column2 {
        width: 100%;
    }
}

.surveillance_options {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 500px;
    background-image: url('nigger_in_car2.jpg');
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.surveillance_options_content {
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: start;
    flex-direction: column;
    width: 90%;
    margin: 30px 0 30px 0;
}

.surveillance_options::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0, 0.3);
    z-index: 1;
    visibility: hidden;
}

.surveillance_options_title_bg {
    display: flex;
    justify-content: start;
    align-items: center;
    margin: 0 0 15px 0;
}

.surveillance_options_title {
    color: rgb(255, 255, 255);
    font-size: 40px;
}

.surveillance_options_text_bg {
    width: 80%;
}

.surveillance_options_text {
    color: rgb(255, 255, 255);
    font-size: 20px;
    line-height: 1.4em;
}

.surveillance_options_button_bg {
    display: flex;
    justify-content: start;
    align-items: center;
}

.surveillance_options_button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: rgb(219, 171, 81);
    border: 3px solid rgb(219, 171, 81);
    width: 180px;
    height: 40px;
    margin: 20px 0 0 0;
    transition: color 0.2s ease-in-out, border 0.2s ease-in-out, scale 0.06s linear;
}

.surveillance_options_button:hover {
    color: rgb(219, 171, 81, 0.6);
    border: 3px solid rgb(219, 171, 81, 0.6);
} 

.surveillance_options_button:active {
    scale: 0.96 0.96;
}


@media (max-width: 900px) {
    .surveillance_options_content {
        justify-content: center;
    }

    .surveillance_options_title_bg {
        justify-content: center;
    }

    .surveillance_options_button_bg {
        justify-content: center;
    }

    .surveillance_options_text_bg {
        display: flex;
        justify-content: center;
    }

    .surveillance_options::before {
        visibility: visible;
    }
}
