body {
    font-family: Garamond;
    width: 100%;
    height: 100%;
    margin: 0;
}

.wrapper {
    padding: 0 0 0 0;
}

.padding {
    padding-right: 17px;
}

/* popup_form */

.popup_form {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 0, 0.8);
    opacity: 0;
    pointer-events: none;
    transition: transform 0.8s ease-in-out;
}

.popup_form.open {
    opacity: 1;
    visibiliry: hidden;
}

.popup_form_body {
    background-color: white;
    width: 400px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    transform: scale(0);
    transition: transform 0.8s ease-in-out;
}

.popup_form.open .popup_form_body {
    transform: scale(1);

}

.popup_form_content {
    background-color: white;
    display: flex;
    flex-direction: column;
    width: 85%;
    height: 85%;
}

.popup_form_close {
    border: 0;
    height: 25px;
    width: 25px;
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 20;
    background-image: url('cross.png');
    background-size: cover;
    background-position: 50% 50%;
    cursor: pointer;
    transition: transform 0.3s linear;
}

.popup_form_close:hover {
    transform: rotate(180deg);
}

.popup_form_close:active {
    transform: rotate(180deg) scale(0.5);  
    transition: transform 0.1s linear;
}

.popup_form_title {
    margin: 0 auto 20px auto;
    font-size: 30px;

}

.popup_form_content label  div {
    margin: 15px auto 8px 2px;
}

.popup_form_content label input {
    box-sizing: border-box;
    width: 100%;
    transition: border 0.3s linear;
    position: relative;
    border: 2px solid grey;
    border-radius: 3px;
    padding: 10px 0 10px 5px;
}

.popup_form_content label input::placeholder {
    margin: 0 0 0 5px;
    font-size: 15px;
}

.popup_form_content label input:focus {
    outline: none;

}

.send_application_button_bg {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
}

.send_application_button {
    border: 0;
    outline: none;
    height: 50px;
    width: 50%;
    color: rgb(255, 255, 255);
    background-color: rgb(180, 141, 68);
    text-decoration: none;
    height: 40px;
    width: 180px;
    transition: background-color 0.2s linear, transform 0.05s linear;
}

.send_application_button:hover {
    background-color:rgb(136, 95, 25);
    transition: background-color 0.05 linear;
}

.send_application_button:active {
    transform: scale(0.96, 0.96);
    background-color: rgb(76, 68, 180);
}

body.stop_scrolling {
    overflow: hidden;
}

 /* popup_form */

.title {
    color: black;
    font-size: 40px;
}

.text {
    color: rgb(112, 112, 112);
    font-size: 20px;
    line-height: 1.4em;
}

.order_service {
    min-height: 600px;
    display: flex;
    justify-content: center;
    position: relative;
    width: 100vw;
}

.order_service::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0, 0.6);
    visibility: hidden;
}

.order_service_content {
    background-image: url('intro_private_detective.jpg');
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;

}

.order_servise_content_inner {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

}

.logo {
    margin-bottom: 15px;
}

.content_logo {
    color: white;
    font-size: 60px;
}

.description_under_logo {
    margin-bottom: 15px;
    width: 70%;
}

.content_description_under_logo {
    color: white;
    font-size: 30px;
    font-weight: 100;
    line-height: 1.2em;

}

.order_service_out_button {
    width: 350px;
    height: 50px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}

.order_service_inner_button {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(219, 171, 81);
    border: 3px solid rgb(219, 171, 81);
    text-decoration: none;
    height: 40px;
    width: 180px;
    transition: transform 0.1s linear, color 0.2s linear, border 0.1s linear;
}

.order_service_inner_button:hover {
    color: rgb(219, 171, 81, 0.6);
    border: 3px solid rgb(219, 171, 81, 0.6);
}

.order_service_inner_button:active {
    transform: scale(0.96, 0.96);
}

@media (max-width: 900px) {
    .order_service::before {
        visibility: visible;
    }
}

.about_company {
    background-color: rgb(238, 238, 238);
    display: flex;
    justify-content: center;
}

.about_company_content {
    width: 60%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: center;
    margin: 60px 0 40px 0;
}

.header_inner {
    color: black;
    font-size: 50px;
}

.p {
    margin: 0 0 20px 0;
    color: rgb(112, 112, 112);
    font-size: 20px;
    line-height: 1.4em;
}

.types_of_training {
    margin: 0 0 20px 0;
    padding-left: 15px;
}

.type_of_training {
    color: rgb(112, 112, 112);
    font-size: 20px;
    line-height: 1.4em;
    list-style: none;
    padding: 0;
    margin-left: 0px;
}

.type_of_training::before {
    content: ' ';
    display: inline-block;
    width: 8px;
    height: 8px;
    background-color: rgb(238, 238, 238);
    border: 2px solid black;
    border-radius: 50%;
    margin: 0 8px 2px 0;
}

.areas_of_work {
    width: 100vw;
    display: flex;
    justify-content: center;
    background-color:rgb(238, 238, 238);
}

.areas_of_work_content {
    width: 70%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 60px 0 60px 0;
}

.areas_of_work_bg_title {
    margin-bottom: 40px ;
    display: flex;
    justify-content: center;
}

.areas_of_work_title {
    width: 50%;
    display: flex;
    justify-content: center;
    color: black;
    font-size: 40px;
}

.areas_of_work_bg_text {
    display: flex;
    justify-content: center;
}

.areas_of_work_text {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: max-content;
    box-sizing: border-box;
}

.place_for_text {
    display: flex;
    align-items: flex-start;
    margin: 8px;
}

.areas_text {
    color: rgb(112, 112, 112);
    font-size: 20px;
    line-height: 1.4em;
}

@media (max-width: 900px) {
    .areas_of_work_text {
        grid-template-columns: 1fr;
    }
}

.services {  
    width: 100vw; 
    display: flex;
    justify-content: center;
    margin: 60px 0 60px 0;
    padding: 0;
}

.services_content {
    width: 70%;
    display: block;
    box-shadow: 2px 2px 8px 4px rgb(95, 95, 95);
}

.call_details {
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    padding: 0px 0px 4px 0px;
    background-color: rgb(238, 238, 238);
}

.call_details_column1 {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.call_details_column1::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0, 0.3);
    z-index: 2;
    visibility: hidden;
}

.call_details_column1_inner {
    width: 90%;
    margin: 30px 0 30px 0;
    position: relative;
    z-index: 2;
}

.call_details_title_bg {
    width: 100%;
    display: flex;
    margin-bottom: 10px;
}

.call_details_title {
    display: block;
    color: rgb(0, 0, 0);
    font-size: 40px;
    line-height: 1.4em;
}

.call_details_text_bg {
    display: block;
}

.call_details_text {
    color: rgb(112, 112, 112);
    font-size: 20px;
    line-height: 1.4em;
}

.call_details_button_bg {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.call_details_button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 160px;
    height: 35px;
    background-color: rgb(219, 171, 81);
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 20px;
    transition: background-color 0.2s linear, scale 0.08s linear;
}

.call_details_button:hover {
    background-color: rgba(146, 95, 0, 0.6);
}

.call_details_button:active {
    scale: 0.96 0.96;
}

.call_details_column2 {
    width: 50%;
    min-height: 600px;
    background-image: url('nigger_with_phone.jpg');
    background-size: cover;
    background-position: 30% 50%;
}


@media (max-width: 900px) {
    .call_details {
        flex-direction: column;
        justify-content: center;

    }

    .call_details_column1 {
        width: 100%;
        background-image: url('nigger_with_phone.jpg');
        background-size: cover;
        background-position: 30% 50%;
        height: 700px;
    }  
    
    .call_details_column1::before {
        visibility: visible;
    }

    .call_details_title_bg {
        justify-content: center;
    }

    .call_details_title {
        color: white;
    }

    .call_details_text {
        color: white;
    }

    .call_details_button_bg {
        justify-content: center;
    }

    .call_details_column2 {
        display: none;
    }
}

.surveillance_options {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 500px;
    background-image: url('nigger_in_car2.jpg');
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.surveillance_options_content {
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: start;
    flex-direction: column;
    width: 90%;
    margin: 30px 0 30px 0;
}

.services_object::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0, 0.3);
    z-index: 1;
    visibility: hidden;
}


.surveillance_options_title_bg {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0 0 15px 0;
}

.surveillance_options_title {
    color: rgb(255, 255, 255);
    font-size: 40px;
}

.surveillance_options_text_bg {
    width: 80%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.surveillance_options_text {
    color: rgb(255, 255, 255);
    font-size: 20px;
    line-height: 1.4em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.surveillance_options_button_bg {
    display: flex;
    justify-content: start;
    align-items: center;
}

.surveillance_options_button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: rgb(219, 171, 81);
    border: 3px solid rgb(219, 171, 81);
    width: 180px;
    height: 40px;
    margin: 20px 0 0 0;
    transition: color 0.2s ease-in-out, border 0.2s ease-in-out, scale 0.06s linear;
}

.surveillance_options_button:hover {
    color: rgb(219, 171, 81, 0.6);
    border: 3px solid rgb(219, 171, 81, 0.6);
} 

.surveillance_options_button:active {
    scale: 0.96 0.96;
}

@media (max-width: 900px) {
    .surveillance_options_content {
        justify-content: center;
    }

    .surveillance_options_title_bg {
        justify-content: center;
    }

    .surveillance_options_title {
        justify-content: center;
    }

    .surveillance_options_button_bg {
        justify-content: center;
    }

    .surveillance_options_button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 160px;
        height: 35px;
        background-color: rgb(219, 171, 81);
        text-decoration: none;
        border: 0px;
        color: rgb(255, 255, 255);
        font-size: 20px;
        transition: background-color 0.2s linear, scale 0.08s linear;
    }

    .surveillance_options_button:hover {
        background-color: rgba(146, 95, 0, 0.6);
        border: 0px;
        color: white;
    }
    
    .surveillance_options_button:active {
        scale: 0.96 0.96;
    }

    .surveillance_options_text_bg {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .surveillance_options_text {
        display: flex;
        justify-content: center;
    }

    .surveillance_options::before {
        visibility: visible;
    }
}

.shadowing {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px 0 0 0;
}

.shadowing_content {
    position: relative;
    z-index: 2;
    min-height: 600px;
    display: flex;
    box-sizing: border-box;
}

.shadowing_content .column1 {
    width: 50%;
    background-image: url('nigger_in_car3.jpg');
    background-size: cover;
}

.shadowing_content .column2 {
    width: 50%;
    padding: 0 0 0 4px;
}

.shadowing .row1 {
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(238, 238, 238);
}

.shadowing .row1_content {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    width: 90%;
    margin: 20px 0 20px 0;
}

.shadowing .title_bg {
    width: 100%;
    display: flex;
}

.shadowing .title {
    margin: 0 auto 15px 0;
}

.shadowing .text_bg {
    display: flex;
    margin-bottom: 15px;
}

.button2_bg {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.button2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 160px;
    height: 35px;
    background-color: rgb(219, 171, 81);
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 20px;
    transition: background-color 0.2s linear, scale 0.08s linear;
}

.button2:hover {
    background-color: rgba(146, 95, 0, 0.6);
}

.button2:active {
    scale: 0.96 0.96;
}

.shadowing .row2 {
    height: 50%;
    background-image: url('nigger_detective2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 20% 50%;
}

@media (max-width: 1080px) {
    .shadowing .row1 {
        height: 60%;
    }

    .shadowing .row2 {
        height: 40%;
    }
}

@media (max-width: 900px) {
    .shadowing {
        height: 500px;
        background-image: url('nigger_in_car3.jpg');
        background-position: 50% 50%;
        background-size: cover;
        background-repeat: no-repeat;
        margin-top: 4px;
    }

    .services_object::before {
        visibility: visible;
    }

    .shadowing .row2 {
        display: none;
    }

    .shadowing_content .column1 {
        display: none;
    }

    .shadowing_content .column2 {
        width: 100%;
        padding: 0;
    }

    .shadowing .row1 {
        height: 100%;
        background-color: inherit;
    }

    .shadowing .text {
        color: white;
    }

    .shadowing .text_bg {
        justify-content: center;
    }

    .shadowing .title_bg {
        justify-content: center;
    }

    .shadowing .title {
        color: white;
        margin:  0 0 15px 0;
    }

    .shadowing .button2_bg {
        justify-content: center;
    }
}

.reviews {
    margin: 0 0 60px 0;
    display: flex;
    justify-content: center;
}

.reviews_content {
    width: 70%;
}

.reviews_title_bg {
    width: 100%;
    display: flex;
    justify-content: center;
}
